@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

/* ლოგო */

.logo {
  width: 180px;
  height: 18px;
}

#canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* ციმციმა დეტონატორი */

.live-indicator-block {
  padding: 2px;
  position: relative;
  font-family: "Poppins";
  background-color: rgba(237, 242, 244, 1);
  border-radius: 16px;
  width: 150px;
  height: 30px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.live-indicator-block .live-indicator .blink {
  animation: blinker 1s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
  vertical-align: baseline;
}

.live-indicator {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgba(43, 45, 66, 1);
  padding-left: 10px;
}

.blink {
  color: red;
  margin-left: -4px;
  padding-right: 10px;
  margin-left: 10px;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* აიქონები */

i {
  color: rgba(43, 45, 66, 1);
  width: 16px;
  height: 16px;
}

i:hover {
  color: rgba(239, 35, 60, 1);
  cursor: pointer;
}

/* მაპი */

.map {
  display: block;
  max-width: 100%;
  -webkit-mask-image: url(/src/img/111.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
  mask-type: alpha;
}

.map-btn {
  color: #fff;
  border: 1px solid rgba(239, 35, 60, 1);
  background-color: rgba(239, 35, 60, 1);
  height: 40px;
  width: 180px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Poppins";
  font-size: 14px;
  border-top-left-radius: 10px;
  text-decoration: none;
  float: right;
}

.map-btn:hover {
  color: white;
  cursor: pointer;
}

/* ბანერი */

.banner-txt {
  color: rgba(43, 45, 66, 1);
  font-size: 14px;
}

.color-red {
  color: #ef233c;
}

#type {
  display: inline-block;
}

.header-txt {
  font-weight: Bolder;
  font-size: 32px;
}

.color-black {
  color: rgba(43, 45, 66, 1);
  font-weight: Bold;
  font-size: 18px;
}

.mt-230 {
  margin-top: 230px;
}

.mt-130 {
  margin-top: 130px;
}

/* ნავიგაცია */

.active {
  border-left: 6px solid rgba(239, 35, 60, 1);
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  color: #000000 !important;
  transition: 0.1s ease;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
}

.nav-link {
  margin: 10px;
  cursor: pointer;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  font-family: "Poppins";
  color: rgba(0, 0, 0, 0.6);
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.scroll {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #2b2d42 !important;
  opacity: 0.2;
}

.scroll:hover {
  color: rgba(0, 0, 0, 0.6);
}

/* Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

/* Styling */
#logos-home-page .slider {
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
#logos-home-page .slider:before,
#logos-home-page .slider:after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
#logos-home-page .slider:after {
  right: 0;
  top: 0;
  transform: rotateZ(360deg);
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  -ms-transform: rotateZ(360deg);
  -o-transform: rotateZ(360deg);
}
#logos-home-page .slider:before {
  left: 0;
  top: 0;
}
#logos-home-page .slide-track {
  animation: scroll 60s linear infinite;
  display: flex;
  width: calc(250px * 30);
  -webkit-animation: scroll 60s linear infinite;
}
#logos-home-page div.slide {
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img,
#img {
  height: 250px;
  width: 200px;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

/* Animation 2*/
@keyframes scroll2 {
  0% {
    transform: translateX(-2300px);
    -webkit-transform: translateX(-2300px);
    -moz-transform: translateX(-2300px);
    -ms-transform: translateX(-2300px);
    -o-transform: translateX(-2300px);
  }
  100% {
    transform: translateX(calc(0px * 3));
    -webkit-transform: translateX(calc(0px * 3));
    -moz-transform: translateX(calc(0px * 3));
    -ms-transform: translateX(calc(0px * 3));
    -o-transform: translateX(calc(0px * 3));
  }
}
/* Styling */
#logos-home-page .slider2 {
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
#logos-home-page .slider2:before,
#logos-home-page .slider2:after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
#logos-home-page .slider2:after {
  right: 0;
  top: 0;
  transform: rotateZ(360deg);
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  -ms-transform: rotateZ(360deg);
  -o-transform: rotateZ(360deg);
}
#logos-home-page .slider2:before {
  right: 0;
  top: 0;
}
#logos-home-page .slide-track2 {
  animation: scroll2 60s linear infinite;
  display: flex;
  width: calc(250px * 30);
  -webkit-animation: scroll2 60s linear infinite;
}
#logos-home-page div.slide2 {
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mt-200 {
  margin-top: 200px;
}

/* ტაიმერი */
:root {
  --smaller: 0.75;
}

#headline {
  font-weight: normal;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

#countdown {
  margin-left: 150px;
}

.timer {
  margin-top: 25px;
  margin-left: 30px;
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
  list-style-type: none;
  padding: 10px;
  text-transform: uppercase;
  border: 1px solid #2b2d4210;
  border-radius: 10px;
  width: 80px;
  height: 92px;
}

.date {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2b2d42;
}

.timer span {
  display: block;
}

@media all and (max-width: 768px) {
  #headline {
    font-size: calc(1.5rem * var(--smaller));
  }

  .timer {
    font-size: calc(1.125rem * var(--smaller));
  }

  .timer span {
    font-size: calc(3.375rem * var(--smaller));
  }
}

.book-container {
  font-family: "Poppins";
}

main {
  display: flex;
}

.book {
  width: 220px;
  height: 300px;
  background: #edf2f4;
  border-radius: 10px;
  margin: 1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  position: relative;
  overflow: hidden;
}

.book img {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  border: 2px solid #ef233c;
  border-radius: 14px;
}

.book-info {
  color: #2b2d42;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.book-info h3 {
  margin-top: 0;
}

.book-info span {
  font-weight: bold;
}

.book-info span.green {
  color: rgb(11, 154, 11);
}

.book-info span.orange {
  color: orange;
}

.book-info span.red {
  color: red;
}

.overview {
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  background-color: #edf2f4;
  transform: translateY(101%);
  -webkit-transform: translateY(101%);
  -moz-transform: translateY(101%);
  -ms-transform: translateY(101%);
  -o-transform: translateY(101%);
  transition: transform 0.4s ease-in;
  -webkit-transition: transform 0.4s ease-in;
  -moz-transition: transform 0.4s ease-in;
  -ms-transition: transform 0.4s ease-in;
  -o-transition: transform 0.4s ease-in;
}

.book:hover .overview {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
